.header-container {
    display: flex;
    height: 50px;
    padding: var(--spacing-small);
    background-color: var(--color-medium);
    position: fixed;
    top: 0;
    width: 100%;

}
.header-counter {
    margin-left: auto;
    padding-right: var(--spacing-small);
    font-weight: bold;
    cursor: pointer;
    position: relative;
}

.header-count{
    background-color: red;
    position: absolute;
    width: 15px;
    height: 15px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -5px;
    right: 5px;
    border-radius: 50%;
    color: #fff;
}